body{
		background-color:red;
}

h1{
		font-size: 72px;
		color:blue;
}
h2{
		padding-left:400px;
		color:#ffffff;
}
h3{
		font-size: 7.5em;
		text-align:right;
		color:rgb(255,255,255);
}
h4{
		color:rgba(255,255,255,.2);
}

ul li{display:inline;}

ul li:hover{color:blue;}